:root {
    --font-family: "Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}

body {
    background: var(--grey-green-ligtest);
    margin: 0;
    font-size: var(--font-smaller);
}

.navbar {
    height: 180px;
	width: 100%;
    position: fixed;
	z-index: 1;
    bottom: 0;
    color: var(--lightest-text);
    font-size: var(--font-xtra-large);
    background-color: var(--navy-green);
}

.navbar a {
    text-decoration: none;
    height: 100%;
}

.navbar button {
    height: 170px;
    width: calc((100% - 60px) / 4);
    box-shadow: none; 
    transition: 0.5s;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    vertical-align: text-bottom;
    background-color: transparent;
    border: none;
}

#first {
    margin-left: 20px;
}

.navbar button.buttonActive {
    background-color: var(--grey-green-ligtest);
    color: var(--dark-text);
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: inset 0px -9px 11px -5px rgba(0,0,0,0.75);
}

.navbar svg {
    fill: var(--lightest-text);
	padding: 15px 15px 15px 10px;
	width: 100px;
	height: 100px;
	vertical-align: middle;
    float: center;
}

.svgFill {
    fill: var(--dark-text) !important;
}

.newBody {
    height: calc(100% - 180px);
    top: 0;
}

.header {
    margin: 50px auto 0 auto;
    width: calc(100% - 80px);
    padding: 10px 10px 10px 10px;
    display: block;
    box-shadow: var(--shadow);
    background-color: var(--navy-green);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 1000px;
    color: var(--lightest-text);
    font-size: var(--font-medium);
}

.card {
    box-shadow: var(--shadow);
    padding: 20px 0 30px 10px;
    margin: 0 auto 0 auto;
    width: calc(100% - 90px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    background-color: var(--green-white);
    max-width: 990px;
    padding-right: 20px;
    color: var(--dark-text);
}
